*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    padding: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    padding: 12px;
    border: none;
    border-radius:5px;;
    background-color: #4CAF50;
    color:white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;

}
p{
    margin-top: 15px;
    text-align: center
}
a{
    color:#4CAF50;
    text-decoration: none;
}
/* summary cards */
.summary-card{
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
}
.summary-card h3{
    margin-bottom: 10px;
}
/* transactionstable */
table{
    font-size:14px;
    width: 100%;
    border-collapese: collapse; 
    margin-top: 20px;
}
th, td{
    border: 1px solid #ddd;
    padding: 10px:
    text-align:center;
}
th{
    background-color: #4CAF50;
    color: white;
}
td{
    word-break: break-word;
}